<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/templateform">templateform</a>
        <a class="nav-link" routerLink="/modelform">modelform</a>
        <a class="nav-link" routerLink="/reactiveform">reactiveform</a>
        <a class="nav-link" routerLink="/observable">observable</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-reactiveform></app-reactiveform>
<hr>
<app-templateform></app-templateform>
<hr>
<app-modelform></app-modelform>
<hr> -->
